.sc_footer{
    width: 1296px;
    height: 59px;

    display: flex;

    justify-content: space-between;

    align-items: flex-end;

    border-top: 1px solid #D4D4D8;
}

.sc_footer .year{
    width: 280px;
    height: 26px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #797B89;
}

.sc_footer .topics{
    width: 286px;
    height: 26px;

    display: flex;

    justify-content: space-around;
    align-items: center;
}

.sc_footer .topics a{
    text-decoration: none;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #797B89;
}